@import 'reset-ext'

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 16px;
}


*, *::before, *::after
    box-sizing: border-box

a
    text-decoration none
    display inline-block

p
    line-height calc(var(--text-size) * 1.5)

input
    outline none
    border none
    background none
    color var(--text)

button
    background none
    border none
    outline none
    font-size var(--text-size)
