.home-page
    .home__title
        font-size 84px
        text-align center
        margin-top calc(var(--space) * 10)
        // la marge est ecrit en dur car elle est liée au text shadow
        margin-right 70px
        font-weight 800
        color var(--background)
        +breakpoint(sm, down)
            font-size 54px

