.login-page
    min-height 100vh
    display flex
    flex-direction column
    justify-content space-between

    .login
        margin calc(var(--space) * 3) auto
        display flex
        flex-direction column
        justify-content center
        // margin calc(var(--space) * 3)
        width 40%
        transition .3s ease
        +breakpoint(md, down)
            width 60%
        +breakpoint(sm, down)
            width 100%

        .login__bottom-action
            text-align right
            margin-top calc(var(--space) * 3)

        .login__new-user
            text-align center
            margin-top calc(var(--space) * 10)
            .button
                margin-left var(--space)
                margin-top var(--space)
            +breakpoint(sm, down)
                margin-top calc(var(--space) * 8)
