.login
    background-color white
    height 100vh
    display flex
    flex-direction row
    .__information
        position relative
        width 55%
        height 100vh
        background-color #d9e6e9
        .__logo
            position absolute
            top 40px
            left 48px
        .__content   
            position relative 
            height 100vh
            padding 0 32px 0 48px
            .__description
                position relative
                top 250px
                min-width 300px
                max-width 600px
                .__first-description
                    background-color red
                    margin-bottom 10px
                .__second-description
                    background-color blue
    .__login-form
        width 45%
        min-width 500px
        height: 100vh
        .__signup-link:hover
            .__link-btn
                background-color rgba(0, 0, 0, 0.1)
        .__signup-link
            position absolute
            top 50px
            right 40px
            .__link-text
                color #0e353d
                line-height 20px
            .__link-btn
                margin-left 15px
                border 1px solid #d9dfe0
                border-radius 4px
                padding 10px 15px
                color #0e353d
                font-weight 600
        .__content
            position relative
            top 250px
            padding 0 80px
            height 350px
            display flex
            flex-direction column
            .__text
                height 30%
                font-size: 42px
            .__form
                height 70%
                display flex
                flex-direction column
                justify-content space-between
                div
                    display: flex
                    flex-direction: column
                    label 
                        padding-bottom 20px
                    input 
                        height 40px
                        border-radius: 4px
                        border 1px solid #d9dfe0
                        padding-left 20px
                        cursor pointer
                    input:hover 
                        border 2px solid rgba(0, 0, 0, 0.4)
                    input:focus 
                        border 2px solid rgba(0, 0, 0, 0.4)
                        outline none
                button 
                    height 50px
                    background-color rgba(0, 0, 0, 0.4)
                    border none 
                    border-radius 4px
                    color white
                    font-size 22px
                button:hover
                    cursor pointer
                    background-color rgba(0, 0, 0, 0.5)
                    