body
    min-height 100vh
    background var(--background)
    font-family var(--default-font)
    // font-family 'Yantramanav', monospace;
    color var(--text)
    font-size var(--text-size)

.tonic
    color var(--tonic)

strong
    font-weight 600

