// Variables
// ===============================
@import 'variables/variables'

// Reset
// ===============================
@import 'reset/reset'

// Components
// ===============================
@import 'components/components'

// Pages
// ===============================
@import 'pages/pages'


body
    background var(--background)