// Variables
// ===============================
@import 'variables/variables'

// Reset
// ===============================
@import 'reset/reset'

// Components
// ===============================
@import 'components/components'


body
    background var(--background)